html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

/* Styling for the header */
header {
  border: 2px solid black;
  background-color: #7884ab;
  display: flex;
  padding: 2vh 4vw;
  align-items: center;
  justify-content: space-between;
}

#left {
  display: flex;
  align-items: center;
}

#left > img {
  height: 4em;
  background-color: white;
}

#search {
  color: white;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

#search > input {
  font-size: 18px;
  height: 2em;
  min-width: 300px;
  border-style: hidden;
  margin-right: 3%;
}

input:focus {
  outline: none;
}

#search > label {
  font-size: 20px;
  font-weight: bold;
  min-width: 180px;
}

#temperatureChange {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#temperatureChange > img {
  background-color: white;
  height: 4em;
  margin-left: 1vw;
}

#tempSwitcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#tempSwitcher p {
  margin: 0;
  padding: 0;
  color: white;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  align-self: flex-end;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(50, 68%, 52%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
/* Styling for main weather container */
#weatherContainer {
  border: 2px solid black;
  height: 85%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.weatherRow {
  grid-row:1/2;
  background-color: aqua;
}

/* Styling for the current conditions */
#currentConditions {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#currentTempContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

#currentTempContainer img {
  height: 6em;
}

#currentTempContainer > * {
  margin:0;
}

#otherConditions {
  background-color: orange;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
}

/* Styling for the weekly forecast */
#forecast {
border: 1px solid red;
grid-row: 2/3
}
/* Styling for the footer */